@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Quattrocento:wght@400;700&display=swap');

:root {
	--text-color:black;
	--bg-color-1: white;
	--bg-color-2:  white;
	--logo-image:url('https://i.imgur.com/hq0SgYC.png');
}

.phb#p1 {
	columns:unset;
	padding:0;
	background: linear-gradient(200deg, var(--bg-color-1) 40%, var(--bg-color-2) 100%);
	display:flex;
	justify-content:center;
	align-items:center;
}

.phb#p1 > p {
	display:none;	
}

.phb#p1:after {
	display:none;	
}

.phb#p1 #card  {
	text-align:center;
	display:flex;
	flex-direction:column;
	padding:40px
}

.phb#p1 #logo {
	flex:1 0 350px ;
	background-image:var(--logo-image);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	height:max(300px,100%);	
	mix-blend-mode:multiply;
	margin:20px;
}

.phb#p1 #card h1 {
	color:var(--text-color);
}

.phb#p1 #card h2 {
	color:var(--text-color);
}

.phb#p1 #card p {
	color:var(--text-color);
	font-variant:small-caps
}

.phb#p1 #card:before {
		content:'';
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:-1
}

.phb#p1 #card:after {
		content:'';
		position:absolute;
		z-index:-1;
		width:auto;
		height:auto;
		top:-4px;
		left:-4px;
		bottom:0;
		right:0;
		border-image:url('https://i.imgur.com/k544p79.png');
		border-image-slice:25% 10%;
		border-image-width:90px;
		border-image-repeat:stretch;
		border-image-outset:10px;
	
}

/*
█▀▄▀█ █ █▀█ ▄▀█ █▀▀ █▀▀
█░▀░█ █ █▀▄ █▀█ █▄█ ██▄*/

.phb#p1 #card.mirage {
		--text-color:white;
}

.phb#p1 #card.mirage:before {
		background: linear-gradient(200deg, #EF5726 40%, #C12172 100%);
}

.phb#p1 #card.mirage:after {
		filter:invert(1)
}

.phb#p1 #card.mirage #logo {
	filter:invert(1);
	mix-blend-mode:screen;
}


/*
█░█ █▀█ █▄░█ █▀▀ █▄█
█▀█ █▄█ █░▀█ ██▄ ░█░*/

.phb#p1 #card.honey:before {
		background: linear-gradient(200deg, #F9DF34 40%, #F96234 100%);
}

.phb#p1 #card.honey:after {
		filter:invert(0);
}

.phb#p1 #card.honey #logo {
	filter:invert(0);
	mix-blend-mode:multiply;
}

/*
█▀ █▄▀ █▄█
▄█ █░█ ░█░*/

.phb#p1 #card.sky {
		--text-color:white;
}

.phb#p1 #card.sky:before {
		background: linear-gradient(200deg, #73A2DB 40%, #4679B6 100%);
}

.phb#p1 #card.sky:after {
		filter:invert(1)
}

.phb#p1 #card.sky #logo {
	filter:invert(1);
	mix-blend-mode:screen;
}

/*
█▀ █░█ █▀▀ █▀█ █░█░█ █▀█ █▀█ █▀▄
▄█ █▀█ ██▄ █▀▄ ▀▄▀▄▀ █▄█ █▄█ █▄▀*/

.phb#p1 #card.sherwood {
		--text-color:gold;
}

.phb#p1 #card.sherwood:before {
		background: linear-gradient(200deg, #1D5611 40%, #38260E 100%);
}

.phb#p1 #card.sherwood:after {
		filter:invert(1) sepia(1)  brightness(100%) saturate(1700%) hue-rotate(-30deg) ;
}

.phb#p1 #card.sherwood #logo {
	filter:invert(1) sepia(1) saturate(500%) brightness(90%);
	mix-blend-mode:screen;
	margin:20px;
}

.phb#p1 #card.sherwood h1 {
	font-family:Merienda;
	font-size:48px;
}

.phb#p1 #card.sherwood h2 {
	font-family:Quattrocento;
	font-weight:unset;
}


