@font-face {
    font-family: 'cromregular';
    src: url('./crom_v1-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hamletregular';
    src: url('./hamletregular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
