
@font-face {
    font-family: 'Crom Regular';
    src: url('./crom_v1-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hamletregular';
    src: url('./hamletregular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primitive';
    src: url('./primitive-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hamlet cicero';
    src: url('./hamlet-cicero12-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hamlet tertia';
    src: url('./hamlet-tertia18-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beyond_wonderlandregular';
    src: url('./beyond-wonderland.regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}